* {
  font-family: 'Exo', sans-serif;
}

body {
  background-image: url("http://i.imgur.com/CmhAiOe.jpg");
  -webkit-user-select: none;
}


#main {
  font-size: 50px;
  color: red;
}


#container{
    text-align:center;
    max-width:450px;
    margin:0 auto;


}
.block{
    margin:5px;
    display:inline-block;
    height:150px;
    width: 150px;

}

#round {
  color: white;


}

#test {
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

button {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;

}

#cell1 {
  background-color: red;
  opacity: .3;
  border-radius: 150px 0 0 0;
}

#cell2 {
  background-color: blue;
  opacity: .3;
  border-radius: 0 150px 0 0;
}

#cell3 {
  background-color: green;
  opacity: .3;
  border-radius: 0 0 0 150px;
}

#cell4 {
  background-color: yellow;
  opacity: .3;
  border-radius: 0 0 150px 0;
}



.lightUp {
  opacity: 1 !important;
}

#side1 {
  color: white;
}

#endgame {
  font-size: 30px;
}
