* {
  font-family: 'Bungee Inline', cursive;
  color: white;
}

body {
  background-image: url("http://i.imgur.com/tHeABza.jpg");
  background-size: cover;
  -webkit-user-select: none;
}

#main {
  font-size: 60px;
  margin-top: 110px;
  text-align: center;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#primary {
    float: left;
    width: 230px;
    margin-right: 20px;
    margin-top: 70px;
    font-size: 30px;
}

#content {
    float: left;
    width: 480px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

#secondary {
    float: left;
    width: 240px;
    text-align: center;
    margin-top: 100px;
}

.block {
    margin: 5px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    opacity: .3;
}

#red {
  background-image: url("http://i.imgur.com/CC4Qg4Q.jpg");
  border-radius: 150px 0 0 0;
}

#blue {
  background-image: url("http://i.imgur.com/JHAs2Jd.jpg");
  border-radius: 0 150px 0 0;
}

#green {
  background-image: url("http://i.imgur.com/XnT6sPp.jpg");
  border-radius: 0 0 0 150px;
}

#yellow {
  background-image: url("http://i.imgur.com/A5W6LDm.jpg");
  border-radius: 0 0 150px 0;
}

#round {
  font-size: 25px;
}

button {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: black;
}
