* {
  font-family: 'Finger Paint', cursive;
}

body {
  background-image: url("http://i.imgur.com/tHeABza.jpg");
  background-size: cover;
  -webkit-user-select: none;
}


#main {
  font-size: 50px;
  color: white;
}
#container {
    width: 960px;
    margin: 0 auto;
}

#primary {
    float: left;
    width: 230px;
    margin-right: 20px;
    margin-top: 100px;
    color: white;
}

#content {
    float: left;
    width: 480px;
    text-align:center;
    max-width:450px;
    margin:0 auto;
}

#secondary {
    float: left;
    width: 240px;
    text-align: center;
    margin-top: 100px;
}

#footer {
    clear: both;
}

.block {
    margin:5px;
    display:inline-block;
    height:150px;
    width: 150px;
    background-color: blue;
    border: 5px solid black;
}

#cell1 {
  background-image: url("http://i.imgur.com/CC4Qg4Q.jpg");
  opacity: .3;
  border-radius: 150px 0 0 0;
}

#cell2 {
  background-image: url("http://i.imgur.com/JHAs2Jd.jpg");
  opacity: .3;
  border-radius: 0 150px 0 0;
}

#cell3 {
  background-image: url("http://i.imgur.com/XnT6sPp.jpg");
  opacity: .3;
  border-radius: 0 0 0 150px;
}

#cell4 {
  background-image: url("http://i.imgur.com/A5W6LDm.jpg");
  opacity: .3;
  border-radius: 0 0 150px 0;
}

#round {
  color: white;
  font-size: 25px;


}

#test {
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

button {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;

}

#endgame {
  font-size: 30px;
}
